body {
    margin: 0 auto;
    font-family: 'Muli', sans-serif;
    background: #f7f7f7;
}

header nav {
    margin: 0;
    display: inline-block;
}

#upper-nav {
    text-align: center;
    width: 100%;
    height: 70px;
    background: white;
}

#logo {
    width: 200px;
    height: 60px;
    position: relative;
    top: 10px;
}

/*menu button*/
#menu {
    position: absolute;
    float: right;
    width: 40px;
    right: 8%;
    top: 25px;
    background: none;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}
#menu hr {
    height: 3px; 
    border: none;
    background: #424242;
}

/*menu desplegable sin visibilidad*/
#menu-desplegable {
    position: fixed;
    right: 0;
    text-align: left;
    list-style: none;
    width: 300px;
    padding: 0;
    margin-top: 0;
    background: #2f2f2f;
    color: white;
    font-weight: 900;
    display: none;
}

#userpic {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url("../assets/images/userpic.png");
    background-size: cover;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

#menu-desplegable li:first-child {
    padding: 25px 0 30px;
    cursor: pointer;
    vertical-align: middle;
}

#menu-desplegable li {
    padding: 30px 0;
    border-bottom: 1px solid white;
}

#menu-desplegable li:not(:first-child):hover {
    background: #505050;
    cursor: default;
}

#menu-desplegable h4 {
    display: inline-block;
    
}

#menu-desplegable li {
    padding-left: 30px;
}

#menu-desplegable i, #menu-desplegable h4 {
    display: inline-block;
}

#menu-desplegable li:first-child i {
    font-size: 20px;
}

#menu-desplegable li:not(:first-child) i {
    font-size: 10px;
}

/*BOTTOM NAV*/
#bottom-nav {
    width: 100%;
    background-color: #c4c4c4;
}

/*TABS*/
#tabs{
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 40px;
}

#tabs li{
  width: 100px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#tabs li:hover{
  background: #fbbd00;
}
#tabs li:active{
  background: #333;
  color: #fff;
}



ol li {
	margin-right: 10em;
}
#upp{
    margin-top: 4em;
}

/*menu desplegable sin visibilidad*/
#menu-desplegable {
    text-align: left;
    display: block;
    list-style: none;
    width: 300px;
    padding: 0;
    float: right;
    margin-top: 0;
    background: #2f2f2f;
    color: white;
    font-weight: 900;
    display: none;
}
#chart-div-pie{
	margin-top: 4%;
	margin-left: 4%;
	display: inline-block;
	    position: relative;
    padding-bottom: 20px
}
#chart-div-bar{
text-align: center;
display: inline-block;
    position: relative;
    padding-bottom: 20px
}

/*STUDENTS TAB*/
#students-content, #teachers-content {
    display: none;
}

#students-content {
    text-align: center;
    padding-top: 40px;
}

#specialization {
    background: white;
    width: 20%;
    list-style: none;
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    margin-top: 0;
    margin-right: 2%;
    padding: 0 0 1% 3%;
}

#specialization li:not(:first-child) {
    color: #8e979c;
    margin: 5% 0;
}

.checkbox {
    width: 12px;
    border: 1px solid #fbbd00;
    height: 12px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 3%;
}

#specialization li:last-child div {
    background: #fbbd00;
}

/*STUDENTS ASIDE*/
#students-content aside {
    width: 60%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

#students-content form {
    background: white;
    display: block;
    line-height: 3;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.089), 4px 4px rgba(0, 0, 0, 0.034);
}

#students-content input {
    outline: none;
    border: none;
    margin-left: 10px;
    width: 90%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.384);
}

#students-content input::placeholder {
    font-size: 20px;
}

#students-content .fa {
    margin-left: 20px;
    font-size: 20px;
    color: #8e979c;
}

#students-list {
    background: white;
    display: block;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.089), 4px 4px rgba(0, 0, 0, 0.034);
}

/*------ELEMENTOS DEL DOM*-------/
/*student profiles*/

#profile-container {
    /*div contenedor de todos los elementos de los perfiles de las estudiantes*/
    border: 2px dashed red;
}

#profile-container img {
    /*foto de perfil de las estudiantes*/
}

#student-left-container {
    /*contenedor del nombre, especialidad y tags*/
    border: 1px dashed green;
}

#student-name {
    /*nombre de la estudiante*/
    margin: 0;
}

#specialization {
    /*texto "front-end developer" bajo el nombre*/
    margin: 0;
    padding: 0;
}

.tags {
    /*tags javascript, apis, jquery*/
    background: pink;
    margin: 1px;
}

#student-right-container {
    /*contenedor de las cajas grises*/
}

.grey-square {
    /*cajas grises a la izquierda (tech skills, life skills, english skills)*/
    background-color: grey;
}

.grey-square h4, .grey-square h5 {
    /*texto superior dentro de las cajas grises*/
    margin: 1px;
}

.grey-square span {
    /*texto inferior dentro de las cajas grises*/
    /*también para el font de los tags*/
}

#ver-perfil {
    /*texto en la esquina inferior derecha ver perfil - icon fa-caret-right*/
}

#ver-perfil i {
    /*fa-caret-right icon*/
}

/*--------------------------*/
#profile-container:last-child {
    display: none;
}