/*encabezado*/
header{
	background-color: blue;
}
.one{
/*background-image: url(assets/images/logo-laboratoria.svg);*/

}
.hamb{
	float: right;
	width: 40px;
	text-decoration: none;
	border: none;
	color: #000;
}
.two{
	background-color: red;
}
ul{
list-style: none;
}