body {
    margin: 0 auto;
    font-family: 'Muli', sans-serif;
    background: #f7f7f7;
}

header nav {
    margin: 0;
    display: inline-block;
}

#upper-nav {
    text-align: center;
    width: 100%;
    height: 70px;
    background: white;
}

#logo {
    width: 200px;
    height: 60px;
    position: relative;
    top: 10px;
}

/*language*/
#language {
    float: left;
    color: #fbbd00;
    cursor: default;
    margin-left: 2%;
    position: absolute;
}

#language span {
    color: #555555;
    cursor: pointer;
    transition: .2s;
}

#language span:hover {
    color: #fbbd00;
    transition: .2s;
}

/*menu button*/
#menu {
    position: absolute;
    float: right;
    width: 40px;
    right: 3%;
    top: 16px;
    background: none;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

#menu hr {
    height: 3px; 
    border: none;
    background: #424242;
    transition: .5s;
}

#menu:hover hr {
    background: #ffd781;
    transition: .2s;
}

/*menu desplegable sin visibilidad*/
#menu-desplegable {
    z-index: 10;
    position: fixed;
    right: 0;
    text-align: left;
    list-style: none;
    width: 300px;
    padding: 0;
    margin-top: 0;
    background: #2f2f2f;
    color: white;
    font-weight: 900;
    display: none;
}

#userpic {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url("../assets/images/userpic.png");
    background-size: cover;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

#menu-desplegable li:first-child {
    padding: 25px 0 30px;
    cursor: pointer;
    vertical-align: middle;
}

#menu-desplegable li {
    padding: 30px 0;
    border-bottom: 1px solid white;
    transition: .2s;
}

#menu-desplegable li:not(:first-child):hover {
    background: #505050;
    cursor: default;
    transition: .2s;
}

#menu-desplegable h4 {
    display: inline-block;
    
}

#menu-desplegable li {
    padding-left: 30px;
}

#menu-desplegable i, #menu-desplegable h4 {
    display: inline-block;
}

#menu-desplegable li:first-child i {
    font-size: 20px;
}

#menu-desplegable li:not(:first-child) i {
    font-size: 10px;
}

/*BOTTOM NAV*/
#bottom-nav {
    width: 100%;
    background-color: #e0e0e0;
}


/*menu sedes*/
#sedes {
    background: white;
    display: inline-block;
    width: 25%;
    list-style: none;
    border-radius: 4px;
    color: #2f2f2f;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 30px;
    margin-right: 10px;
}

#sedes h2 {
    margin: 0;
    padding: 1% 5%;
    display: inline-block;
}

#sedes i {
    font-size: 30px;
    float: right;
    margin-right: 5%;
}

#menu-sedes {
    display: none;
    margin-top: 0;
    padding: 0;
    background: white;
    width: 25%;
    list-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    color: #2f2f2f;
    cursor: pointer;
    margin-left: 5%;
    z-index: 9;
}

#menu-sedes li {
    padding: 5px 0;
}

#menu-sedes h2 {
    margin: 0;
    padding-left: 5%;
    display: inline-block;
}

#menu-sedes li:hover {
    border-bottom: 3px solid #fbbd00;
}

/*YEARS*/
#years {
    display: inline-block;
    width: 30%;
}

#years span {
    margin-right: 8%;
}

/*TABS*/
#tabs{
  list-style: none;
  margin: 0;
  line-height: 40px;
  margin-top: 5px;
  height: 70px;
  margin-left: 2%;
  text-align: center;
}

#tabs li{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-right: 3%;
  letter-spacing: 3px;
}

#tabs h3:hover{
  border-bottom: 5px solid #fbbd00;
}

/*menu desplegable sin visibilidad*/
#menu-desplegable {
    text-align: left;
    display: block;
    list-style: none;
    width: 300px;
    padding: 0;
    float: right;
    margin-top: 0;
    background: #2f2f2f;
    color: white;
    font-weight: 900;
    display: none;
}

/*choose sede*/
#city-selector {
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.226);
    cursor: default;
    background: white;
}

#city-selector h3 {
    display: inline-block;
}

#choose-sede {
    background: white;
    width: 100%;
    position: absolute;
    text-align: center;
}

.sede-cont {
    display: inline-block;
    margin: 7% 2%;
}

.sede-cont img {
    cursor: pointer;
}

 .sede-cont img:hover {
     outline: 3px solid #fbbd00;
 }

/*overview content*/
#overview-content {
    text-align: center;
}

#top-container {
    width: 100%;
    margin-top: 2%;
}

#top-container * {
    margin: 0;
}

#top-left-cont {
    width: 40%;
    display: inline-block;
    background: white;
    border-radius: 3px;
    padding: 1% 0;
}

.top-cont {
    display: inline-block;
    background: #f7f7f7;
    padding: 10px;
}

#dropout {
    margin-right: 20px;
}

.top-cont h3 {
    color: #fbbd00
}

#top-right-cont {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 3.3% 0;
    background: white;
    border-radius: 3px;
}

#top-right-cont h2 {
    color: #fbbd00;
}

#students-meet-target {
    width: 90%;
    display: block;
    margin-top: 20px;
}

#nps {
    width: 80%;
}

#tech-scores,#hse-scores {
    background: white;
    display: inline-block;
    padding: 2% 2%;
    margin: 3%;
}





/*STUDENTS TAB*/
#students-content, #teachers-content {
    display: none;
}

#students-content {
    text-align: center;
    padding-top: 20px;
}

#generations {
    margin: 5px;
    text-align: left;
}

#filler {
    width: 32%;
    height: 5px;
    display: inline-block;
}

#generations h5 {
    display: inline-block;
    margin: 5px 40px 5px 10px;
    cursor: default;
}

#generations h5:hover {
    color: #fbbd00;
}

#specialization  {
    background: white;
    width: 20%;
    list-style: none;
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    margin-top: 0;
    margin-right: 2%;
    padding: 0 0 1% 3%;
}

#specialization li:not(:first-child) {
    color: #8e979c;
    margin: 5% 0;
}

.checkbox {
    width: 12px;
    border: 1px solid #fbbd00;
    height: 12px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 3%;
}

#specialization li:last-child div {
    background: #fbbd00;
}

/*STUDENTS ASIDE*/
#students-content aside {
    width: 60%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

#students-content form {
    background: white;
    display: block;
    line-height: 3;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.089), 4px 4px rgba(0, 0, 0, 0.034);
}

#students-content input {
    outline: none;
    border: none;
    margin-left: 10px;
    width: 90%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.384);
}

#students-content input::placeholder {
    font-size: 20px;
}

#students-content .fa {
    margin-left: 20px;
    font-size: 20px;
    color: #8e979c;
}

#students-list {
    display: block;
}

/*------ELEMENTOS DEL DOM*-------/
/*student profiles*/

#profile-container {
    /*div contenedor de todos los elementos de los perfiles de las estudiantes*/
    text-align: center;
    background: white;
    padding: 2% 0;
    display: block;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.089), 4px 4px rgba(0, 0, 0, 0.034);
}

#profile-container img {
    /*foto de perfil de las estudiantes*/
    width: 20%;
    height: 150px;
    display: inline-block;
}

#student-profile-data {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-left: 2%;
    width: 70%;
}

#student-left-container {
    /*contenedor del nombre, especialidad y tags*/
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-align: left;
}

#student-name {
    /*nombre de la estudiante*/
    margin: 0;
}

#speciality {
    /*texto "front-end developer" bajo el nombre*/
    margin: 0;
    padding: 0;
}

.tags {
    /*tags javascript, apis, jquery*/
    background: #e0e0e0;
    border-radius: 3px;
    margin-right: 2%;
    display: inline-block;
    padding: 1% 0;
    width: 27%;
    text-align: center;
    font-size: 10px;
}

#student-right-container {
    /*contenedor de las cajas grises*/
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-align: center;
}

.grey-square {
    /*cajas grises a la izquierda (tech skills, life skills, english skills)*/
    background-color: #e0e0e0;
    display: inline-block;
    margin: 1%;
    padding: 5% 0;
    width: 31%;
    border-radius: 3px;
}

.grey-square h4, .grey-square h5 {
    /*texto superior dentro de las cajas grises*/
    margin: 1px;
}

.grey-square span {
    /*texto inferior dentro de las cajas grises*/
    /*también para el font de los tags*/
    font-size: 10px;
}

.grey-square h5 {
    line-height: 1.55;
}

#ver-perfil-container {
}

#ver-perfil {
    /*texto en la esquina inferior derecha ver perfil - icon fa-caret-right*/
    cursor: pointer;
}

#ver-perfil i {
    /*fa-caret-right icon*/
}

/*FLAGS*/
.flag {
    vertical-align: text-bottom;
    display: none;
    width: 30px;
    height: 20px;
    margin: 0 5px;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.137), 2px 2px rgba(0, 0, 0, 0.034);
}
#peru-flag  {
    background: red;
    text-align: center;
}

#peru-flag div {
    width: 10px;
    height: 20px;
    background: white;
    display: inline-block;
}

#chile-flag {
    text-align: left;
    position: relative;
    background: white;
}

#chile-flag i {
    font-size: 8px;
    float: left;
    margin-left: 2px;
    margin-top: 1px;
    color: white;
}

#chile-flag div:first-child {
    display: inline-block;
    width: 13px;
    height: 12px;
    background: blue;
    vertical-align: top;
    border-top-left-radius: 3px;
}

#chile-flag div:last-child {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 8px;
    background: red;
    vertical-align: bottom;
    display: inline-block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#mex-flag {
    position: relative;
}

#mex-flag div {
    display: inline-block;
}

#mex-flag div:first-child {
    width: 10px;
    height: 20px;
    background: green;
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#mex-flag div:last-child {
    width: 10px;
    height: 20px;
    background: red;
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;   
}

#year-selector {
    list-style: none;
    display: inline-block;
    position: absolute;
    background: white;
    padding: 0;
    margin-left: 1%;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.089), 4px 4px rgba(0, 0, 0, 0.034);
}

#year-selector li:first-child {
    display: block!important;
}

.year-option {
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
    display: none;

}

.year-option:not(.year-option:first-child):hover {
    border-bottom: 2px solid #fbbd00;
}

#tech-scores img, #hse-scores img {
    display: block;
}

#tech-scores, #hse-scores {
    display: inline-block;
}

.top-cont span {
    color: #fbbd00;
}

#students-rank {
    background: white;
    margin: 0 5%;
}

#students-rank h2 {
    color: green;
}

#team-score div{
    display: inline-block;
    margin: 2% 5%;
    cursor: default;
}

#team-score div:hover {
    color: #fbbd00;
}